.navigationbar{
    margin-top: 20px;
}
.div1{
    max-width: fit-content;
}

html {
    margin-left: 40px;
}

.center{
    text-align: center;
}

.hero {
    margin-top: 25vh;
    height: 20vh;
}

.lg{
    width: 40vw;
    margin-left: 30vw + -40px;
    margin-top: 20px;
}